
<h1>Requête :</h1>

<form action="" method="get">
    {{ form.as_p }}
    <button type="submit" name="action" value="count">Compter</button>
    <button type="submit" name="action" value="search">Rechercher</button>
</form>

{% if lemmas %}
    <h1>Résultats :</h1>
    <p>Temps: {{ queryTime|floatformat:2 }} s.</p>
    <p>Lemmes:
    {% for lemma in lemmas%}
        {{ lemma }}
    {% endfor %}
    </p>
{% endif %}

{% if imgData %}
    {% for img in imgData %}
        <img alt="Result image" src="data:image/png;base64,{{img}}"/>
    {% endfor %}
{% endif %}

{% if occurences %}
    {% for occ in occurences %}
        <p>
            {{ occ.channel.publicName }} : {{ occ.dateTime }}</br>
            {{ occ.context }}
        </p>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">

            {% with channelsParam=form.channels.value|join:"," %}

            {% with params="?q="|add:form.q.value|add:"&dmin="|add:form.dmin.value|add:"&dmax="|add:form.dmax.value|add:"&channels="|add:channelsParam|add:"&action=search" %}

            {% if occurences.has_previous %}
                <a href="{{ params }}&page=1">&laquo; first</a>
                <a href="{{ params }}&page={{ occurences.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ occurences.number }} of {{ occurences.paginator.num_pages }}.
            </span>

            {% if occurences.has_next %}
                <a href="{{ params }}&page={{ occurences.next_page_number }}">next</a>
                <a href="{{ params }}&page={{ occurences.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
            {% endwith %}
            {% endwith %}
        </span>
    </div>
{% endif %}
